#courses {
    width: 100%;
    min-height: 170vh;
    background-color: black;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    flex-direction: column;
    align-items: center;
    
    


    .topmain {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        max-width: 1240px;

        button{
            margin-top: 30px;
    
        border: none;
        color: white;
        font-size: 20px;
        width:100%;
        display: flex;
        background-color: #3195ff;
        height: 45px;
        font-weight: 600;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }
        .grid{
            display: grid !important;
            grid-template-columns: auto auto auto !important;
        }
        h1 {
            color: white;
            font-size: 36px;
            font-family: "Poppins", sans-serif;
            margin-top: 91px;

            span {
                font-size: 36px;
                color: #3195ff;
                line-height: 43.2px;


            }
        }

        .cards {
            display: flex;
            gap: 40px;
            .card {
                height: 221px;
                width: 385px;
                border: solid rgba(183, 182, 182, 0.11) 1px;
                border-radius: 5px;
                background-color: #222222;
                // padding: 50px 0 0 20px;
                display: flex;
                align-items: end;
                justify-content: center;
                position: relative;
                
                    
                    img{
                        width:60px ;
                        height: 54px;
                        position: absolute;
                        right:10px;
                        top: 10px;

                    }
                

                .inside {
                    display: flex;
                    flex-direction: column;
                    width: 340px;
                    height: 180px;
                    gap: 10px;
                    // background-color: red;
                    

                    .all {
                        color: #3195ff;
                        font-size: 18px;


                    }

                    .next {
                        font-size: 18px;
                        color: white;
                        font-weight: 650;

                    }

                    .property {
                        color: white;
                        font-size: 18px;

                    }

                    .cardbottom {
                        display: flex;
                        gap: 20px;
                        margin-top: 15px;
                        i {
                            color: #3195ff;
                            font-size: 26px;

                        }

                        p {
                            color: #3195ff;

                            &:hover {
                                color: red;
                            }

                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1260px) {
   #courses{.topmain{.grid{grid-template-columns: auto auto !important; }}} 
  }
@media only screen and (max-width: 850px) {
    #courses{.topmain{.grid{grid-template-columns:auto !important; }}} 
  }
  