#courses{
    width: 100%;
    min-height: 150vh;
    background-color: black;

    .topmain{
        h1{color:white ;
            font-size: 36px;
            font-family: "Poppins", sans-serif;
            span{
                font-size: 36px;
                color:#3195ff ;
                line-height: 43.2px;
                
                
            }
        }
    }
}